/* example*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:Arial;
    padding:40px;
}

/*Grid container*/
.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}
/* grid items*/
.box{
    background: teal;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}

/*product gallery*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    padding: 40px;
    background: #f4f4f4;
}
h1{
    margin-bottom:20px;
}

/*grid layout*/
.product{
    display:grid;
    grid-template-columns: repeat(auto-fix,minmax(100px,1fr));
    gap:20px;
}

/* product card*/
.card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img{
    width:50%;
    border-radius: 10px;
}