/* .light-container {
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 40px;
}

.dark-container {
  background-color: #1f2937;
  color: white;
  min-height: 100vh;
  padding: 40px;
} */

@import "tailwindcss";