body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.navbar {
  background: #222;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a.active {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  padding: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.student-card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px #ddd;
}

.student-card a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.profile {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}