body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #a34a4a;
}

header {
  background-color: #211ec9;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

nav a {
  color: orange;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

section {
  background-color: lightgreen;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #db0505;
}

li {
  margin: 8px;
  color: rgb(226, 11, 226);
}

footer {
  background-color: #c71bd6;
  color: white;
  text-align: center;
  padding: 15px;
}